app = "codebae-runner"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "3000"
  MAX_CODE_SIZE = "100000"
  EXECUTION_TIMEOUT = "5000"
  MAX_OUTPUT_SIZE = "100000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 2
  memory_mb = 1024

[mounts]
  source = "tmp_data"
  destination = "/tmp"
